$color_1: #fff;
$color_2: #ff7f50;
$color_3: #7ecc52;
$color_4: #8cc3c5;
$color_5: #d8774a;
$color_6: #f8c582;
$color_7: rgb(141, 83, 32);
$color_8: #0c6d1c;
$color_9: #ff00ff;
$color_10: #3cff00;
$color_11: #008055;
$font-family_1: "FreePixel", monospace;
$background-color_1: #666c72;
$background-color_2: #161616;
$background-color_3: #000;
$background-color_4: #08356c;
$background-color_5: #555;

@font-face {
	font-display: swap;
	font-family: "FreePixel";
	size-adjust: 115%;
	src: url("/assets/fonts/FreePixel/FreePixel.woff") format("woff"), url("/assets/fonts/FreePixel/FreePixel.woff2") format("woff2"), url("/assets/fonts/FreePixel/FreePixel.ttf") format("truetype");
}
html {
	scroll-behavior: smooth;
}
body {
	background: radial-gradient(circle, #39382d, #000);
	color: $color_1;
	font-family: $font-family_1;
	font-size: 16px;
	position: relative;
}
h1 {
	color: $color_2;
}
h2 {
	color: $color_3;
}
h3 {
	color: $color_4;
}
h4 {
	color: $color_5;
}
h5 {
	color: $color_5;
}
h6 {
	color: $color_5;
}
a {
	color: $color_6;
	text-decoration: none;
	&:hover {
		color: $color_7;
		cursor: pointer;
	}
}
summary {
	color: $color_6;
	text-decoration: none;
	&:hover {
		color: $color_7;
		cursor: pointer;
	}
}
.twocols {
	display: flex;
	width: 100%;
}
.navcol {
	float: left;
	padding-left: 3%;
	padding-right: 2%;
	min-width: 120px;
	width: 12%;
	ul {
		list-style: none;
		padding: 0;
	}
}
ul {
	padding: 0;
}
.arrow {
	border: solid rgb(255, 0, 0);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.fixedcol {
	position: fixed;
}
.maincol {
	padding-right: 10%;
	width: 73%;
	word-wrap: break-word;
}
.author {
	margin-top: 20px;
	min-height: 120px;
	width: 100%;
	img {
		border-radius: 150px;
		float: left;
		margin: auto 15px 10px auto;
		max-width: 110px;
	}
}
blockquote {
	color: $color_8;
	margin: 2px;
}
pre {
	background-color: $background-color_1;
	border-radius: 5px 15px;
	margin: 8px 0;
	padding: 10px 15px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 15.5px;
	color: $color_9;
}
div.highlight {
	button {
		background-color: $background-color_2;
		border: 1px solid #000;
		border-radius: 0 .18rem;
		color: $color_9;
		cursor: pointer;
		float: left;
		font-size: .8em;
		padding: 5px 10px;
		transition: .2s ease-out;
		user-select: none;
		&:hover {
			background-color: $background-color_3;
			font-weight: bold;
		}
	}
}
code {
	font-size: 15.5px;
	color: $color_9;
}
.imagecode {
	background: #181a22;
	color: $color_10;
}
.overflowy {
	max-height: 18em;
	overflow-y: scroll;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
footer {
	margin: 5% auto;
}
.copyleft {
	display: inline-block;
	transform: rotate(180deg);
	vertical-align: middle;
}
.heart {
	display: inline;
	max-width: 16px;
	vertical-align: middle;
}
.social {
	img {
		display: inline-block;
		max-width: 18px;
		vertical-align: middle;
	}
}
.shareable {
	a {
		display: inline-block;
		margin: 10px;
	}
}
.shareon {
	color: $color_11;
}
.sociallinks {
	a {
		display: inline-block;
		margin: 5px 10px;
	}
}
.eachsociallinks {
	img {
		max-width: 25px;
	}
}
.webrings {
	text-align: center;
	h3 {
		display: flex;
	}
	p {
		text-align: left;
	}
	a {
		display: inline-block;
		margin: 5px;
	}
	img {
		border: 2px solid #3c3e42;
		height: 31px;
		margin: 8px;
		width: 88px;
	}
}
.skills {
	text-align: center;
	img {
		display: inline-block;
		margin: 5px;
		max-height: 100px;
		max-width: 200px;
	}
}
.gototop {
	bottom: 2rem;
	position: absolute;
	right: 2rem;
	top: 120vh;
}
.gototoplink {
	background-color: $background-color_4;
	border-radius: 5px;
	color: $color_1;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	padding: 7px 12px;
	position: -webkit-sticky;
	position: sticky;
	top: 90vh;
	&:hover {
		background-color: $background-color_5;
		color: $color_1;
	}
}
.pagination {
	margin: 3%;
}
.guestbook {
	border: 2px dashed #5eff00;
	max-width: 50rem;
	padding: 5px;
}
&::-webkit-scrollbar {
	width: 4px;
}
&::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #808080;
	border-radius: 10px;
}
&::-webkit-scrollbar-thumb {
	background: #b7eb8d;
	border-radius: 10px;
}
@media screen and (max-width: 768px) {
	.contents {
		margin: 5%;
	}
	.twocols {
		flex-direction: column;
	}
	.navcol {
		display: contents;
		float: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 5px;
		}
	}
	.fixedcol {
		position: relative;
		h3 {
			display: none;
		}
	}
	.arrow {
		display: none;
	}
	.maincol {
		display: block;
		padding-right: 0;
		width: 100%;
	}
	.gototop {
		bottom: 8rem;
		right: 1rem;
	}
	.gototoplink {
		top: 85vh;
	}
}
