{% extends "base.html" %}
{% block content %}
<h1>kernkraftwerk</h1>
<blockquote>
    What we wanted to preserve was not just a good environment in which to do programming, but a system around which
    fellowship could form. We knew from experience that the essence of communal computing, as supplied by remote-access,
    time-shared machines, is not just to type programs into a terminal instead of a keypunch, but to encourage close
    communication. -Dennis Ritchie
</blockquote>
<hr>
<div class="author">
    <img src="/assets/images/avatar/author.jpg" alt="author logo">
    <p>Hi, I am <a href="https://znkkw.github.io">kernkraftwerk</a>
    <p>I'm just your friendly, hacker, and I mean a the true defintion of a hacker, I try to exploit and break i.e.
        software xor kernels </p>
    <p>I am a Cypherpunk,many people tell to me that I am a Hacker (to some extend it's true), but
        there's still a long way to go to be one.As a Hacker you are the elite of Computer Science.</p>
</div>
<h2>WHY AM I HERE?</h2>
<p class="about">
    This place is home for all my random thoughts and ideas.<br>
    A place where I am in control, with no censorship or manupulation.<br>
</p>

{% endblock content %}